<h1>Listing genres</h1>


    <% @genres.each do |genre| %>
        <h2><%= link_to genre.name, genre %></h2>
          <ul>
            <% genre.games.each do |game| %>
            <h3>
              <%= image_tag game.image_url %>
              <%= link_to game.name, game %>
            </h3>
            <% end %>
          </ul>
    <% end %>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Genre', new_genre_path %>
<% end %>

